# Miscellaneous
*.class
*.log
*.lock
*.pyc
*.pyo
*.pyd
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/.gradle
android/captures/
android/gradle/wrapper/gradle-wrapper.jar

# Python
__pycache__/
*.egg-info/

# VS Code
.vscode/

# Project Specific
ShikshaLokam-HackerEarth-Competition/
